.page-footer {
    background-color: #222 !important;
    padding: 7.5rem 0 7.5rem 0;
}

.page-footer-title h3 {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.page-footer-text {
    color: #777;
}

.container-fluid {
    max-width: 1170px;
}

@media all and (max-width: 1200px) {
}

@media all and (max-width: 960px) {
}

@media all and (max-width: 768px) {
    .page-footer {
        padding: 4.5rem 0 4.5rem 0 !important;
    }
}