.about-me {
    padding: 5rem 10rem !important;
}

@media all and (max-width: 1200px) {
}

@media all and (max-width: 960px) {
  .about-me {
    padding: 2rem 1rem !important;
  }
}

@media all and (max-width: 768px) {
  .about-last {
    margin-bottom: 2rem;
  }
}
